/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: auto;
  height: 70px;
  object-fit: contain;
  margin-right: 10px;
  
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #e3f2fd;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}


.navbar a {
  text-decoration: none;
  
  font-weight: bold;
  padding: 10px 20px;
 
  border-radius: 20px;
  transition: 0.3s;
}

.nav-verde {
  color: #28a745; ;
  border-color: #28a745;
}

.nav-azul {
  color: #007bff;
  border-color: #007bff;
}

.nav-vermelho {
  color: #dc3545;
  border-color: #dc3545;
}

.nav-amarelo {
  color: #ffc107;
  border-color: #ffc107;
}

/* Efeito hover */
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}



/* Cabeçalho */
header {
  background-color: #2196f3;
  color: white;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* Container */
.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Serviços */
.servico {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.servico img {
  max-width: 100%;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.servico h3 {
  color: #1565c0;
  margin: 10px 0 5px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea,
form select {
  padding: 10px;
  border: 1px solid #0c0aa0;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  outline-color: #0c0aa0;
}

form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #1565c0;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover 
 button:focus{
  background-color: #ffffff;
  color:#007bff;
}

/* Rodapé */
footer {
  background-color: #1976d2;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .servico {
    text-align: center;
  }

  .servico img {
    max-height: 200px;
    object-fit: cover;
  }
}
